# Variables locales
NEXT_PUBLIC_APP_NAME="Molotes El Tradicional"
DATA_ADAPTER_MODE="local-file"

# Para produccion con API externa (opcional):
# DATA_ADAPTER_MODE="remote-api"
# NEXT_PUBLIC_ADMIN_API_BASE_URL="https://api.tu-dominio.com"
